config shield_corne_left
    def_bool $(shield_list_contains, corne_left)
config shield_corne_right
    def_bool $(shield_list_contains, corne_right)
config shield_cornedongle
    def_bool $(shield_list_contains, corne_dongle)